.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

upload/*
stats/*
user_guide/*
phpMyAdmin-4.2.8-all-languages/*
gopd/*